@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

.mapa360-section {
  padding: 60px 20px;
  background-color: #102442;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  color: #f8f8f9;
}

.titulo {
  font-size: 2.5rem;
  margin-bottom: 40px;
  color: #f8f8f9;
  font-weight: 700;
}

.hexagono-central {
  position: relative;
  width: 200px;
  height: 173.2px;
  background-color: white;
  margin: 0 auto 60px;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  z-index: 2;
}

.imagen-central {
  width: 50px;
  height: 50px;
  object-fit: contain;
  margin-bottom: 10px;
}

.texto-central {
  font-weight: bold;
  color: #102442;
}

.hex-grid {
  position: relative;
  width: 900px;
  height: 700px;
  margin: 0 auto;
}

.hex-wrapper {
    position: absolute;
    display: flex;
    align-items: center;
    gap: 16px;
  }

.hex {
    width: 160px;
    height: 138.6px;
    background-color: #0b2344;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.hex img.avatar {
  width: 145px;
  height: auto;
  object-fit: contain;
}

.texto-hex {
    max-width: 200px;
  font-size: 0.85rem;
  color: #f8f8f9;
  line-height: 1.4;
}
 
.alumno        { top: 10%; left: 22%; transform: translate(-50%, -50%); flex-direction: row-reverse; text-align: right;}
.empresa       { top: 10%; left: 72%; transform: translate(-50%, -50%);  }
.tutores       { top: 40%; left: 87%; transform: translate(-50%, -50%);  }
.expertos      { top: 70%; left: 72%; transform: translate(-50%, -50%);  }
.dinamizadores { top: 70%; left: 22%; transform: translate(-50%, -50%); flex-direction: row-reverse; text-align: right;}
.profesorado   { top: 40%; left: 12%; transform: translate(-50%, -50%); flex-direction: row-reverse; text-align: right;}

.expertos .hex      { background-color: #fbd160; }
.profesorado .hex   { background-color: #fbd160; }
.tutores .hex       { background-color: #499b80; }
.alumno .hex        { background-color: #499b80; }
.dinamizadores .hex { background-color: #ca7b3b; }
.empresa .hex       { background-color: #ca7b3b; }

.imagen-central,
.circulo-central,
.move-360,
.micro{
 position: absolute;
 left: 40%;
 top: 165%;
 z-index: 10;
}

.imagen-central {
  width: 250px;
  height: auto;
}

.move-360 {
  width: 200px;
  height: auto;
  opacity: 0.8;
  margin-top: 30px;
  margin-left: 30px;
}

.micro {
  font-size: 1.3rem;
  font-weight: bold;
  color: white;
  margin-top: 210px;
  margin-left: 30px;
}

.circulo-central {
  margin-top: -120px;
  margin-left: -120px;
}

