.navbar {
  width: 97vw;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  z-index: 1000; /* Se mantiene por encima de otros elementos */
  transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.navbar.active-scroll {
  background-color: rgba(0, 0, 0, 0.8); /* Color de fondo al bajar */
  box-shadow: 0 4px 8px rgba(0,0,0,0.2); /* Opcional: sombra para destacar */
}

.navbar.active-scroll a {
  color: white;
}


/* Estilos de la lista de navegación */
.nav-links, .navbar-nav {
  list-style: none;
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}

/* Estilos para los elementos de la Navbar */
.nav-links li, .navbar-nav li {
  margin: 0 15px;
}

/* Estilos de los enlaces */
.navbar a {
  color: rgb(148, 148, 148);
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  transition: color 0.3s ease-in-out;
}

/* Efecto hover en los enlaces */
.navbar a:hover {
  color: #0dff00; /* Cambia de color al pasar el mouse */
}

/* Aseguramos que el ícono de usuario esté alineado correctamente */
.navbar-nav {
  display: flex;
  align-items: center;
}

/* Estilos para los enlaces que contienen el ícono de usuario */
.navbar-nav a {
  color: rgb(0, 0, 0);  /* Establecer el color inicial del ícono */
  transition: color 0.3s ease-in-out;
  display: flex; /* Asegura que el ícono se alinee correctamente */
  justify-content: center;
  align-items: center;
}

/* Cambio de color al pasar el mouse */
.navbar-nav a:hover {
  color: #0dff00;  /* Cambiar el color cuando se pasa el mouse */
}


