.busqueda {
    margin-right: 940px;
    display: inline-block;
}

.searchbar {
    width:60%;
    display: inline-block;
    transition: all 0.5s ease;
} 

.searchbar:focus {
    width: 90%;
    box-shadow: 0 0 5px black,
              0 0 10px black,
              0 0 15px black,
              0 0 20px black;
}

.searchbar::placeholder{
    color: #000;
    font-size: 16px;
}