.busqueda {
    display: block;          /* Esto asegura que se muestre como bloque encima */
    margin: 0 auto 8px auto; /* Centrado + separación debajo */
    font-weight: bold;       /* Opcional: que se vea como título */
  }
  
  .searchbar {
    width: 60%;
    display: block;          /* Asegura que se ponga debajo del label */
    margin: 0 auto;
    transition: all 0.5s ease;
  }

.searchbar:focus {
    width: 90%;
    box-shadow: 0 0 2px green,
              0 0 10px green,
              0 0 15px green,
              0 0 20px green;
}

.searchbar::placeholder{
    color: #000;
    font-size: 14px;
}