.seleccionar-servicios-container {
    max-width: 600px;
    margin: 2rem auto;
    padding: 2rem;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    text-align: center;
    color: #333;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    font-weight: bold;
    margin-top: 1rem;
  }
  
  select,
  input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 5px;
  }
  
  .servicio-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
  }
  
  button {
    margin-top: 1.5rem;
    padding: 10px;
    background: #a1a1a1;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background: #a1a1a1;
  }

  button.confirm{
    margin-top: 1.5rem;
    padding: 10px;
    background: #48d23b;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  