/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0eeee;
}

/* Título principal */
.text-3xl {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 2rem;
  color: #333;
}

@media (min-width: 768px) {
  .grid-cols-3 {
      grid-template-columns: repeat(3, 1fr);
      gap: 4rem; /* Aumentamos la separación entre columnas */
  }
}

/* Contenedor de cada apartado */
.text-center {
  background-color: white;
  padding: 2.5rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  margin-bottom: 3rem; /* Aumentamos la separación entre filas */
}

.text-center:hover {
  transform: translateY(-5px);
}

/* Imágenes ajustadas para uniformidad */
.text-center img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

/* Títulos de cada apartado */
.text-xl {
  font-size: 1.3rem;
  font-weight: bold;
  color: #222;
  margin-top: 1rem;
}

/* Descripción */
.text-gray-600 {
  color: #555;
  line-height: 1.5;
  text-align: center;
}

/* Ajuste para la lista de servicios desplegada */
.text-center ul {
  list-style-position: inside; /* Asegura que los puntos estén dentro del área del texto */
  text-align: left; /* Alinea el texto a la izquierda */
  margin: 0 auto; /* Centra la lista dentro del contenedor */
  /*width: 80%; /* Ajusta el ancho para que no ocupe todo el espacio */
  align-items: center;
}

/* Aumentar separación entre cada elemento de la lista */
.text-center ul li {
  margin-bottom: 0.5rem;
}

  
